.organization-items {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #333;
}

.filters {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

select,
input {
    margin-right: 10px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.items-list {
    display: grid;
    gap: 20px;
}

.item-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: left;
}

.item-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item-details span {
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0; /* Optional background color for the header */
}

.create-item-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #5bc0de; /* Blue color for modify button */
    border: 1px solid #5bc0de;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;

}
/* Add more styles as needed */
